@charset "UTF-8";
* {
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: #060505;
  color: white;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
  padding-left: 2rem;
}

/* Section Accueil */
.banner {
  background-image: url("../assets/backgroundImg.jpg");
  background-position: center;
  background-size: cover;
  height: 600px;
  position: relative;
}
.banner h1 {
  position: absolute;
  top: 90px;
  left: 50px;
}
@media (max-width: 475px) {
  .banner h1 {
    top: 150px;
    font-size: 40px;
  }
}
.banner .menu {
  position: absolute;
  top: 90px;
  right: 45px;
  font-size: 40px;
}
.banner .menu ol {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: decimal inside;
}
.banner .menu ol li {
  transition: transform 0.3s ease;
}
.banner .menu ol li:hover {
  transform: scale(1.1);
}
.banner .menu ol li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  transition: text-underline-offset 0.3s ease;
}
.banner .menu ol li a:hover {
  text-decoration: underline 4px;
  text-underline-offset: 15px;
}
@media (max-width: 768px) {
  .banner .menu {
    display: none;
  }
}
.banner #lottie-list {
  display: none;
  width: 70px;
  height: 70px;
  cursor: pointer;
  z-index: 1001;
  position: absolute;
  top: 50px;
  right: 30px;
}
@media (max-width: 768px) {
  .banner #lottie-list {
    display: block;
  }
}
.banner #mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 50%;
  height: 100vh;
  background-color: rgba(20, 20, 20, 0.98);
  padding: 4rem 2rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: right 0.4s ease;
}
.banner #mobile-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.banner #mobile-menu ul li a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.2s;
  cursor: pointer;
}
.banner #mobile-menu.open {
  right: 0;
}
@media (max-width: 376px) {
  .banner #mobile-menu {
    width: 83%;
  }
}

body.noscroll {
  overflow: hidden;
  height: 100vh;
}

/* Section à propos */
.about {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.about h2 {
  color: purple;
  margin-bottom: 4rem;
}
.about .about-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.about .animation {
  border: solid white;
  height: 500px;
  width: 20%;
}
.about .about-me {
  width: 90%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.about .about-me .my-history,
.about .about-me .my-philosophy,
.about .about-me .my-softskills {
  background-color: rgba(255, 255, 255, 0.062745098);
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
  flex: 1;
  height: fit-content;
  transition: transform 0.3s ease;
}
.about .about-me .my-history:hover,
.about .about-me .my-philosophy:hover,
.about .about-me .my-softskills:hover {
  transform: translateY(-5px);
}
.about .about-me .my-history {
  margin-top: 0rem;
}
.about .about-me .my-history strong {
  color: purple;
}
.about .about-me .my-philosophy {
  margin-top: 6rem;
}
.about .about-me .my-philosophy strong {
  color: #30a6be;
}
@media (max-width: 1030px) {
  .about .about-me .my-philosophy {
    margin-top: 10px;
  }
}
.about .about-me .my-softskills {
  margin-top: 2rem;
}
.about .about-me .my-softskills li {
  margin-bottom: 30px;
}
.about .about-me .my-softskills strong {
  color: #30a6be;
}
@media (max-width: 1030px) {
  .about .about-me .my-softskills {
    margin-top: 10px;
  }
}
.about .about-me h3 {
  font-size: 1.5rem;
  color: purple;
  margin-bottom: 1rem;
}
.about .about-me h4 {
  color: #30a6be;
  margin-bottom: 1rem;
}
.about .about-me p {
  font-size: 1rem;
  line-height: 1.6;
  color: #eee;
}
@media (max-width: 1030px) {
  .about .about-me {
    flex-direction: column;
    align-items: center;
  }
}

/* Section compétences*/
.skills h2 {
  color: #d96f66;
  margin-top: 4rem;
}
.skills .skills-contain {
  display: flex;
  gap: 120px;
  justify-content: center;
  flex-wrap: wrap;
  color: black;
  margin: 40px;
}
.skills .card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 400px;
  perspective: 1000px;
  position: relative;
  transition: transform 0.3s linear;
  cursor: pointer;
}
.skills .card .card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease;
  transform-style: preserve-3d;
}
.skills .card .card__inner.is-flipped {
  transform: rotateY(180deg);
}
.skills .card__front, .skills .card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}
.skills .card__front {
  z-index: 2;
  background-image: url(../assets/bg-nav.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  border: solid 0.5px white;
  border-radius: 10px;
}
.skills .card__front .card__title {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 80px;
}
.skills .card__front .card__title.hidden {
  display: none;
}
.skills .card__back {
  background: #1f1f1f;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
  color: white;
  padding: 1rem;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skills .card__back .cards-group {
  margin-bottom: 0.5rem;
  text-align: center;
}
.skills .card__back .cards-group h3 {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  color: #d96f66;
}
.skills .card__back .cards-group ul {
  list-style: none;
  padding: 0;
}
.skills .card__back .cards-group ul li {
  margin: 0.3rem 0;
  font-size: 0.95rem;
  font-weight: 500;
}
.skills .card:hover {
  transform: translateY(-5px);
}

.portfolio {
  padding: 4rem 2rem;
  color: #fff;
}
.portfolio h2 {
  padding: 0;
  color: purple;
  margin-bottom: 40px;
}
.portfolio .projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.portfolio .project-card {
  position: relative;
  flex: 0 0 40%;
  background: #1f1f1f;
  border-radius: 15px;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease;
  overflow: hidden;
}
@media (max-width: 768px) {
  .portfolio .project-card {
    flex: none;
    width: 90%;
  }
}
.portfolio .project-card h3 {
  margin-top: 1rem;
  font-size: 1.1rem;
  height: 65px;
}
.portfolio .project-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
.portfolio .project-card:hover {
  transform: scale(1.05);
  border: solid 2px purple;
}

/* Calque hover sur projet */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* calque sombre semi-transparent */
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.project-card:hover .overlay {
  opacity: 1;
}

/* Btn des projets */
.btn-projet {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.btn-projet button,
.btn-projet a {
  border: none;
  border-radius: 10px;
  background: none;
  background-color: white;
  color: #333;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
@media (max-width: 450px) {
  .btn-projet {
    flex-direction: column;
  }
}

/* Modales des projets*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
  overflow-y: auto;
}

.modal.show {
  display: flex;
}

.modal-content {
  background: #1f1f1f;
  color: #fff;
  padding: 2rem;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  width: 80%;
}
.modal-content #modal-body {
  font-size: 18px;
  display: flex;
  flex-direction: row;
}
.modal-content #modal-body .modal-details {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.modal-content #modal-body .modal-details h3 {
  margin-top: 20px;
  margin-bottom: 3rem;
  font-size: 25px;
  text-align: center;
}
.modal-content #modal-body .modal-details #modal-description {
  font-style: italic;
  padding-bottom: 1.5rem;
}
.modal-content #modal-body .modal-details #modal-stack,
.modal-content #modal-body .modal-details #modal-skills {
  padding-bottom: 1rem;
  padding-left: 1.5rem;
}
.modal-content #modal-body .modal-details #modal-time {
  padding-bottom: 1rem;
}
.modal-content #modal-body .modal-assets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 40%;
  padding: 30px 0;
}
.modal-content #modal-body .modal-assets img {
  width: 200px;
  border-radius: 10px;
  object-fit: cover;
  max-width: 100%;
  height: auto;
}
.modal-content #modal-body .modal-assets .visit-site,
.modal-content #modal-body .modal-assets .visit-github {
  border: none;
  border-radius: 10px;
  background: none;
  background-color: white;
  color: #333;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  width: 30%;
  max-width: 300px;
  text-align: center;
}
@media (max-width: 1023px) {
  .modal-content #modal-body {
    flex-direction: column;
    align-items: center;
  }
  .modal-content #modal-body .modal-details,
  .modal-content #modal-body .modal-assets {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  .modal-content #modal-body .modal-details {
    align-items: center;
  }
  .modal-content #modal-body .modal-details h3 {
    width: 90%;
    font-size: 22px;
  }
  .modal-content #modal-body #modal-description {
    padding: 1rem 0;
    text-align: center;
  }
  .modal-content #modal-body #modal-stack,
  .modal-content #modal-body #modal-skills {
    padding-left: 0;
    text-align: left;
    margin: 0 auto;
    max-width: 500px;
  }
}
.modal-content .close-modal {
  font-size: 2rem;
  cursor: pointer;
}

/* Section contact */
.contact {
  margin-bottom: 100px;
}
.contact .contact-title {
  color: #30a6be;
}
.contact .contact-content {
  margin: 40px;
  display: flex;
  justify-content: center;
  gap: 100px;
}
.contact .contact-infos {
  text-align: center;
}
.contact .contact-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}
.contact .contact-infos h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}
.contact .contact-infos p {
  font-size: 1rem;
  margin: 5px 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.contact .contact-email {
  color: #30a6be;
  text-decoration: none;
}
.contact .social-links a {
  margin: 2rem 10px;
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}
.contact .fa-github,
.contact .fa-linkedin {
  font-size: 2rem;
}
.contact .input-group {
  margin-bottom: 15px;
}
.contact .input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.contact .input-group input,
.contact .input-group textarea {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}
.contact .input-group textarea {
  resize: vertical;
}
.contact .btn-submit {
  background-color: #30a6be;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
}
.contact .btn-submit:hover {
  background-color: rgb(34, 104, 151);
}

.footer {
  background-image: url(../assets/img4.webp);
  background-position: center;
  background-size: cover;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer p {
  width: 90%;
  max-width: 379px;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
