@charset "UTF-8";
* {
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: #060505;
  color: white;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
  padding-left: 2rem;
}

.banner {
  background-image: url("../assets/backgroundImg.jpg");
  background-position: center;
  background-size: cover;
  height: 120vh;
  position: relative;
}
.banner h1 {
  position: absolute;
  top: 150px;
  left: 50px;
  /* Animation pour l’écriture */
  /* Animation du curseur clignotant */
}
.banner h1 .typing {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid white;
  width: 12ch;
  animation: typing 3s steps(12) infinite alternate, blink 0.6s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 12ch;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.banner .menu {
  position: absolute;
  top: 150px;
  right: 45px;
  font-size: 40px;
}
.banner .menu ol {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: decimal inside;
}
.banner .menu ol li {
  transition: transform 0.3s ease;
}
.banner .menu ol li:hover {
  transform: scale(1.1);
}
.banner .menu ol li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  transition: text-underline-offset 0.3s ease;
}
.banner .menu ol li a:hover {
  text-decoration: underline 4px;
  text-underline-offset: 15px;
}

.about {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.about h2 {
  color: #711a2e;
  margin-bottom: 4rem;
}
.about .about-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.about .animation {
  border: solid white;
  height: 500px;
  width: 20%;
}
.about .about-me {
  width: 80%;
  height: 500px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.about .about-me .my-history,
.about .about-me .my-philosophy,
.about .about-me .my-softskills {
  background-color: rgba(255, 255, 255, 0.062745098);
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
  flex: 1;
  height: fit-content;
  transition: transform 0.3s ease;
}
.about .about-me .my-history:hover,
.about .about-me .my-philosophy:hover,
.about .about-me .my-softskills:hover {
  transform: translateY(-5px);
}
.about .about-me .my-history {
  margin-top: 0rem;
}
.about .about-me .my-philosophy {
  margin-top: 6rem;
}
.about .about-me .my-softskills {
  margin-top: 2rem;
}
.about .about-me h3 {
  font-size: 1.5rem;
  color: purple;
  margin-bottom: 1rem;
}
.about .about-me h4 {
  color: #30a6be;
  margin-bottom: 1rem;
}
.about .about-me p {
  font-size: 1rem;
  line-height: 1.6;
  color: #eee;
}

.skills h2 {
  color: #d96f66;
  margin-top: 4rem;
}
.skills .skills-contain {
  display: flex;
  gap: 120px;
  justify-content: center;
  flex-wrap: wrap;
  color: black;
  margin: 40px;
}
.skills .card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 400px;
  perspective: 1000px;
  position: relative;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.skills .card .card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease;
  transform-style: preserve-3d;
}
.skills .card .card__inner.is-flipped {
  transform: rotateY(180deg);
}
.skills .card__front, .skills .card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}
.skills .card__front {
  z-index: 2;
  background-image: url(../assets/bg-nav.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  border: solid 0.5px white;
  border-radius: 10px;
}
.skills .card__front p {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 80px;
}
.skills .card__back {
  background: #1f1f1f;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
  color: white;
  padding: 1rem;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skills .card__back .cards-group {
  margin-bottom: 0.5rem;
  text-align: center;
}
.skills .card__back .cards-group h3 {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  color: #d96f66;
}
.skills .card__back .cards-group ul {
  list-style: none;
  padding: 0;
}
.skills .card__back .cards-group ul li {
  margin: 0.3rem 0;
  font-size: 0.95rem;
  font-weight: 500;
}
.skills .card:hover {
  transform: translateY(-5px);
}

.portfolio {
  padding: 4rem 2rem;
  color: #fff;
  position: relative;
}
.portfolio h2 {
  padding: 0;
  color: purple;
  margin-bottom: 40px;
}
.portfolio .projects-wrapper {
  display: flex;
  gap: 30px;
}
.portfolio .project-card {
  flex: 0 0 auto;
  width: 220px;
  background: #1f1f1f;
  border-radius: 15px;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease;
}
.portfolio .project-card h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  height: 65px;
}
.portfolio .project-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
.portfolio .project-card:hover {
  transform: scale(1.05);
}
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.projects-carousel {
  overflow: hidden;
  width: 100%;
  position: relative;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.projects-wrapper {
  display: flex;
  gap: 30px;
  width: max-content;
  animation: scroll-loop 60s linear infinite;
}

@keyframes scroll-loop {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.project-card {
  flex: 0 0 auto;
  width: 220px;
  background: #1f1f1f;
  border-radius: 15px;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: auto;
  padding: 2rem;
}

.modal.show {
  display: flex;
}

.modal-content {
  position: relative;
  background: #1f1f1f;
  color: #fff;
  padding: 2rem;
  border-radius: 15px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}
.modal-content #modal-body {
  font-size: 18px;
}
.modal-content #modal-body h3 {
  margin-top: 20px;
  margin-bottom: 3rem;
  font-size: 25px;
  width: 70%;
  text-align: center;
}
.modal-content #modal-body img {
  width: 120px;
  position: absolute;
  top: 5rem;
  right: 2rem;
  border-radius: 10px;
  object-fit: cover;
}
.modal-content #modal-body #modal-description {
  font-style: italic;
  padding-bottom: 1.5rem;
  width: 75%;
}
.modal-content #modal-body #modal-stack,
.modal-content #modal-body #modal-skills {
  padding-bottom: 1rem;
  padding-left: 1.5rem;
}
.modal-content #modal-body #modal-time {
  padding-bottom: 1rem;
}
.modal-content #modal-body .visit-site {
  padding: 0.5rem 1rem;
  position: absolute;
  top: 18rem;
  right: 2rem;
  background: #ae7c9f;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  transition: background 0.3s;
}
.modal-content #modal-body .visit-site:hover {
  background: #c793b3;
}
.modal-content .close-modal {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 2rem;
  cursor: pointer;
}

.contact {
  margin-bottom: 100px;
}
.contact .contact-title {
  color: #30a6be;
}
.contact .contact-content {
  margin: 40px;
  display: flex;
  justify-content: center;
  gap: 100px;
}
.contact .contact-infos {
  text-align: center;
}
.contact .contact-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}
.contact .contact-infos h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}
.contact .contact-infos p {
  font-size: 1rem;
  margin: 5px 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.contact .contact-email {
  color: #30a6be;
  text-decoration: none;
}
.contact .social-links a {
  margin: 2rem 10px;
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}
.contact .fa-github,
.contact .fa-linkedin {
  font-size: 2rem;
}
.contact .input-group {
  margin-bottom: 15px;
}
.contact .input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.contact .input-group input,
.contact .input-group textarea {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}
.contact .input-group textarea {
  resize: vertical;
}
.contact .btn-submit {
  background-color: #30a6be;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
}
.contact .btn-submit:hover {
  background-color: rgb(34, 104, 151);
}

.footer {
  background-image: url(../assets/img4.webp);
  background-position: center;
  background-size: cover;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=main.css.map */
